*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* fonts */
--fs-200: 14px;
--fs-300: 22px;
--fs-400: 22px;
--fs-500: 32px;
--lh-1: 1;
--lh-1-1: 1.1;
--lh-1-4: 1.4;
}